/* Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* Reset CSS - END */

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    top:0;
    left:0;
    right:0;
}

.nav-items{
    display: flex;
    font-size: 18px;
}

.nav-link{
    text-decoration: none;
    margin-right: 32px;
    color: white;
}

.welcome-section{
width: 100%;
height: 100vh;
background-image :url(assets/images/portfolio.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 624px;
    align-items: center;
}

.photo{
    border-radius: 100px;
}

h1{
    color: white;
    font-size: -webkit-xxx-large;
}

.sub-heading{
    color: #BE3144;
    font-size: xx-large;
    font-style: italic;
}

.nav-link:hover{
    color: #BE3144;
    transition: color 0.3s ease;
}

.project-section{
    background-color: #45567D;
    height: auto;
    padding: 10px;
    color: white;
    text-align: center;
}

 .project-section-header{
    max-width: 486px;
    margin: 0 auto 6rem auto;
    border-bottom: 2px solid white;
    font-weight: 600;
    font-size: xx-large;
}

.projects-grid{
    display: grid;display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 36px;
}

.project-tile{
    text-decoration: none;
    color: white;
    font-size: 26px;
}

.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 80vh;
    background-color: #303841;
}

.section-heading h2{    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    font-size: -webkit-xxx-large;
}

.profile-link{
    margin: 40px;
    text-decoration: none;
    color: white;
    font-size: xx-large;
    padding: 20px;
}

.section-heading p{
    color: white;
    font-style: italic;
    font-size: x-large;
    margin-bottom: 40px;
}

.profile-link:hover{
    color:#BE3144;
    transition: color 0.3s ease-out;
}

@media screen and (max-width: 680px){
    h1{
        text-align: center;
    }

    .profile-link{
        margin: auto;
    }
    
    .contact-section{
        height: 65vh;
    }
}